h1 { 
	text-align: center;
	text-decoration: bold;
	font-weight: normal;
	font-family: 'Josefin Sans', ;
}

td {
	width: 100px;
	height: 100px;
	background: rgba(0,191,255,0.7);
}

.vert {
	border-left: 1px solid blue;
	border-right: 1px solid blue;
}

.hori {
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
}

table {
	margin: auto;
}